/*initialisation des polices*/
@font-face {
    font-family: CMGSans;
    src: url('CMG Sans/Starter Set/CMGSans-Regular.ttf');
}
@font-face {
    font-family: CMGSans;
    src: url('CMG Sans/Starter Set/CMGSans-Italic.ttf');
    font-style: italic;
}
@font-face {
    font-family: CMGSans;
    src: url('CMG Sans/Starter Set/CMGSans-Bold.ttf');
    font-weight: bold;
}
@font-face {
    font-family: CMGSans;
    src: url('CMG Sans/Starter Set/CMGSans-BoldItalic.ttf');
    font-style: italic;
    font-weight: bold;
}
@font-face {
    font-family: CMGSans;
    src: url('CMG Sans/Extended Set/CMGSans-Light.ttf');
    font-weight: 300;
}
@font-face {
    font-family: CMGSans;
    src: url('CMG Sans/Extended Set/CMGSans-LightItalic.ttf');
    font-style: italic;
    font-weight: 300;
}
@font-face {
    font-family: CMGSans;
    src: url('CMG Sans/Extended Set/CMGSans-ExtraLight.ttf');
    font-weight: 200;
}
@font-face {
    font-family: CMGSans;
    src: url('CMG Sans/Extended Set/CMGSans-ExtraLightItalic.ttf');
    font-style: italic;
    font-weight: 200;
}
@font-face {
    font-family: CMGSans;
    src: url('CMG Sans/Extended Set/CMGSans-Thin.ttf');
    font-weight: 100;
}
@font-face {
    font-family: CMGSans;
    src: url('CMG Sans/Extended Set/CMGSans-ThinItalic.ttf');
    font-style: italic;
    font-weight: 100;
}
@font-face {
    font-family: CMGSans;
    src: url('CMG Sans/Extended Set/CMGSans-Cn.ttf');
    font-stretch: condensed;
}
@font-face {
    font-family: CMGSans;
    src: url('CMG Sans/Extended Set/CMGSans-MediumCn.ttf');
    font-stretch: condensed;
    font-weight: 500;
}
@font-face {
    font-family: CMGSans;
    src: url('CMG Sans/Extended Set/CMGSans-SemiBoldCn.ttf');
    font-stretch: condensed;
    font-weight: 600;
}
@font-face {
    font-family: CMGSans;
    src: url('CMG Sans/Extended Set/CMGSans-BoldCn.ttf');
    font-stretch: condensed;
    font-weight: 700;
}

/*Thèmes*/
body.black-theme, body.white-theme {
	font-size: 2em;
	font-family: CMGSans;
}

body.black-theme, body.black-theme .customTextArea {
	background-color: black;
	color: white;
}
body.white-theme, body.white-theme .customTextArea {
	background-color: white;
	color: black;
}

/*vidéo ou photo d'arrière plan A REVOIR !!!!!!!!!!!!!!!!!*/
#customBackgroundElement {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    max-width: 110%;
    max-height: 110%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translate(-50%, -50%);
}

/*SOMMAIRE*/
.sommaire {
	margin-left: 20px;
    font-weight: 100;
}

/*BOUTONS PARAMETRES*/
#paramButtons {
    z-index: 200;
}

/*BOUTONS ACTIONS*/
.scroll-buttons {
    position: fixed;
    bottom: 10px;
    right: 10px;
    opacity: 0.3;
    transition: opacity 2s;
    transition-delay: 1s;
}

.scroll-buttons:hover {
    opacity: 1;
    transition: opacity 0s;
    transition-delay: 0s;
}

/*ZONES PERSONNALISEES*/
.customTextArea {
    width: 100%;
}

/*PAROLES*/
.paroles-block {
	
}

.paroles-block .titre {
    text-transform: uppercase;
    text-align: center;
    font-weight: 100;
    margin-bottom: 2em;
}

.paroles-block .refrain {
	font-weight: bold;
    padding-bottom: 10px;
    top: -20px;
    cursor: pointer;
}

.sticky {
    top: 0px;
    position: sticky;
    z-index: 100;
}

body.black-theme .paroles-block .refrain.sticky {
    background-color: black;
}

body.white-theme .paroles-block .refrain.sticky {
    background-color: white;
}

.paroles-block .couplet {
	margin-bottom: 10px;
    cursor: pointer;
}

.traduction {
    font-style: italic;
    font-size: smaller;
    margin-left: 1em;
    font-weight: 100;
}

.show {
    opacity: 1;
    transition: opacity 1s;
}

.hide {
    opacity: 0.1;
    transition: opacity 1s;
}

/*Reglage des marges*/
#listeParoles.margin-size-1 > .paroles-block {
    margin-left: 20px;
}
#listeParoles.margin-size-1 > .paroles-block .refrain{
    padding-left: 2em;
}

#listeParoles.margin-size-2 > .paroles-block {
    margin-left: 10px;
}
#listeParoles.margin-size-2 > .paroles-block .refrain{
    padding-left: 1.5em;
}

#listeParoles.margin-size-3 > .paroles-block {
    margin-left: 0px;
}
#listeParoles.margin-size-3 > .paroles-block .refrain{
    padding-left: 1em;
}

#listeParoles.margin-size-4 > .paroles-block {
    margin-left: 0px;
}
#listeParoles.margin-size-4 > .paroles-block .refrain{
    padding-left: 0.5em;
}

/*Page de paramètrage de l'affichage*/
#tableBody {
    margin: 0px;
    background-color: black;
    color: white;
}

#screenTable {
    width: 100%;
    height: 100%;
}

#screenTable, #screenTable td {
    border: 5px solid Lime;
    border-collapse: collapse;
}

#screenTable td {
    width: 10%;
    height: 10%;
}

#infoCell {
    font-family: CMGSans;
    text-align: center;
    font-weight: bold;
}










.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    /*bottom: 0;*/
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 1;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
    overflow: hidden;
}
.popup {
    background: #000;
    /*background: -moz-linear-gradient(#000, #bbb);
    background: -webkit-linear-gradient(#000, #bbb);
    background: -o-linear-gradient(#000, #bbb);*/
    display: inline-block;
    opacity: 0;
    padding: 15px;
    position: fixed;
    text-align: justify;
    visibility: hidden;
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 0%;
    overflow-y: auto;
    border: indigo solid -100px;
    /*-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;*/
    -webkit-transition: opacity .5s, top .5s;
    -moz-transition: opacity .5s, top .5s;
    -ms-transition: opacity .5s, top .5s;
    -o-transition: opacity .5s, top .5s;
    transition: opacity .5s, top .5s;

}
.close {
    background-color: rgba(0, 0, 0, 0.8);
    height: 30px;
    line-height: 30px;
    position: fixed;
    right: 0;
    text-align: center;
    text-decoration: none;
    top: 0px;
    width: 30px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
}
.close:before {
    color: rgba(255, 255, 255, 0.9);
    content: "X";
    font-size: 24px;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
}
.close:hover {
    background-color: rgba(64, 128, 128, 0.8);
}
.popup p, .popup div {
    margin-bottom: 10px;
}
.popup label {
    display: inline-block;
    text-align: left;
    width: 140px;
}
.popup input[type="text"], .popup input[type="password"] {
    border: 1px solid;
    border-color: #999 #ccc #ccc;
    margin: 0;
    padding: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}
.popup input[type="text"]:hover, .popup input[type="password"]:hover {
    border-color: #555 #888 #888;
}

.pop{
    height: 30px;
    margin-top: 4px;
}

.pop:hover {
    background-color: #666;
}

#monpdf {
    background-color: transparent;
    position: fixed;
    top: 0px;
    z-index: 100;
}

.btn2{
    background-color: transparent;
}

#btnChant {
    height: 10%;
    width: 100%;
}

.btn {
    width: 8%;
}

#popup3 {
    z-index: 2000;
    padding: 0%;
}
