/*initialisation des polices*/
@font-face {
    font-family: CMGSans;
    src: url('CMG Sans/Starter Set/CMGSans-Regular.ttf');
}
@font-face {
    font-family: CMGSans;
    src: url('CMG Sans/Starter Set/CMGSans-Italic.ttf');
    font-style: italic;
}
@font-face {
    font-family: CMGSans;
    src: url('CMG Sans/Starter Set/CMGSans-Bold.ttf');
    font-weight: bold;
}
@font-face {
    font-family: CMGSans;
    src: url('CMG Sans/Starter Set/CMGSans-BoldItalic.ttf');
    font-style: italic;
    font-weight: bold;
}
@font-face {
    font-family: CMGSans;
    src: url('CMG Sans/Extended Set/CMGSans-Light.ttf');
    font-weight: 300;
}
@font-face {
    font-family: CMGSans;
    src: url('CMG Sans/Extended Set/CMGSans-LightItalic.ttf');
    font-style: italic;
    font-weight: 300;
}
@font-face {
    font-family: CMGSans;
    src: url('CMG Sans/Extended Set/CMGSans-ExtraLight.ttf');
    font-weight: 200;
}
@font-face {
    font-family: CMGSans;
    src: url('CMG Sans/Extended Set/CMGSans-ExtraLightItalic.ttf');
    font-style: italic;
    font-weight: 200;
}
@font-face {
    font-family: CMGSans;
    src: url('CMG Sans/Extended Set/CMGSans-Thin.ttf');
    font-weight: 100;
}
@font-face {
    font-family: CMGSans;
    src: url('CMG Sans/Extended Set/CMGSans-ThinItalic.ttf');
    font-style: italic;
    font-weight: 100;
}
@font-face {
    font-family: CMGSans;
    src: url('CMG Sans/Extended Set/CMGSans-Cn.ttf');
    font-stretch: condensed;
}
@font-face {
    font-family: CMGSans;
    src: url('CMG Sans/Extended Set/CMGSans-MediumCn.ttf');
    font-stretch: condensed;
    font-weight: 500;
}
@font-face {
    font-family: CMGSans;
    src: url('CMG Sans/Extended Set/CMGSans-SemiBoldCn.ttf');
    font-stretch: condensed;
    font-weight: 600;
}
@font-face {
    font-family: CMGSans;
    src: url('CMG Sans/Extended Set/CMGSans-BoldCn.ttf');
    font-stretch: condensed;
    font-weight: 700;
}

/*Thèmes*/
body.black-theme, body.white-theme {
	font-size: 2em;
	font-family: CMGSans;
}

body.black-theme, body.black-theme .customTextArea {
	background-color: black;
	color: white;
}
body.white-theme, body.white-theme .customTextArea {
	background-color: white;
	color: black;
}

/*vidéo ou photo d'arrière plan A REVOIR !!!!!!!!!!!!!!!!!*/
#customBackgroundElement {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    max-width: 110%;
    max-height: 110%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translate(-50%, -50%);
}

/*SOMMAIRE*/
.summary {
	margin-left: 20px;
    font-weight: 100;
}

/*BOUTONS PARAMETRES*/
#paramButtons {
    z-index: 200;
}

/*BOUTONS ACTIONS*/
.scroll-buttons {
    position: fixed;
    bottom: 10px;
    right: 10px;
    opacity: 0.3;
    transition: opacity 2s;
    transition-delay: 1s;
}

.scroll-buttons:hover {
    opacity: 1;
    transition: opacity 0s;
    transition-delay: 0s;
}

/*ZONES PERSONNALISEES*/
.customTextArea {
    width: 100%;
}

/*PAROLES*/
.lyrics-block {
	
}

.lyrics-block .title {
    text-transform: uppercase;
    text-align: center;
    font-weight: 100;
    margin-bottom: 2em;
}

.lyrics-block .chorus {
	font-weight: bold;
    padding-bottom: 10px;
    cursor: pointer;
}

.sticky {
    top: 0px;
    position: sticky;
    z-index: 100;
}

body.black-theme .lyrics-block .chorus.sticky {
    background-color: black;
}

body.white-theme .lyrics-block .chorus.sticky {
    background-color: white;
}

.lyrics-block .verse {
	margin-bottom: 10px;
    cursor: pointer;
}

.translation {
    font-style: italic;
    font-size: smaller;
    margin-left: 1em;
    font-weight: 100;
}

.show {
    opacity: 1;
    transition: opacity 1s;
}

.hide {
    opacity: 0.1;
    transition: opacity 1s;
}

/*Reglage des marges*/
#lyricsList.margin-size-1 > .lyrics-block {
    margin-left: 20px;
}
#lyricsList.margin-size-1 > .lyrics-block .chorus{
    padding-left: 2em;
}

#lyricsList.margin-size-2 > .lyrics-block {
    margin-left: 10px;
}
#lyricsList.margin-size-2 > .lyrics-block .chorus{
    padding-left: 1.5em;
}

#lyricsList.margin-size-3 > .lyrics-block {
    margin-left: 0px;
}
#lyricsList.margin-size-3 > .lyrics-block .chorus{
    padding-left: 1em;
}

#lyricsList.margin-size-4 > .lyrics-block {
    margin-left: 0px;
}
#lyricsList.margin-size-4 > .lyrics-block .chorus{
    padding-left: 0.5em;
}

/*Page de paramètrage de l'affichage*/
#tableBody {
    margin: 0px;
    background-color: black;
    color: white;
}

#screenTable {
    width: 100%;
    height: 100%;
}

#screenTable, #screenTable td {
    border: 5px solid Lime;
    border-collapse: collapse;
}

#screenTable td {
    width: 10%;
    height: 10%;
}

#infoCell {
    font-family: CMGSans;
    text-align: center;
    font-weight: bold;
}