/* THEME */
.custom-light,
.custom-light .sticky {
    background: #fff;
    color: #000;
}
.custom-dark,
.custom-dark .sticky {
    background: #000;
    color: #fff;
}

/* EMPTY */
.empty {
    width: 100%;
    height: 100%;
}

/* SONG */
.song .title {
    text-transform: uppercase;
    text-align: center;
    font-weight: 100;
    margin-bottom: 2em;
}

.song .chorus {
	font-weight: bold;
    padding-bottom: 10px;
    cursor: pointer;
}

.sticky {
    top: 0px;
    position: sticky;
    z-index: 100;
}

.song .verse {
	margin-bottom: 10px;
    cursor: pointer;
    opacity: 0.1;
    transition: opacity 1s;
}

.translation {
    font-style: italic;
    font-size: smaller;
    margin-left: 1em;
    font-weight: 100;
}

.show {
    opacity: 1 !important;
}

/*GRID*/
#screenTable {
    margin: 0px;
    width: 100%;
    height: 100%;
}

#screenTable, #screenTable td {
    border: 5px solid Lime;
    border-collapse: collapse;
}

#screenTable td {
    width: 10%;
    height: 10%;
}