.card-header .fa-chevron-down {
  transition: 0.3s transform ease-in-out;
}
.collapsed .card-header .fa-chevron-down {
  transform: rotate(90deg);
}

.collapsed > .when-open,
.not-collapsed > .when-closed {
  display: none;
}

.fa-desktop {
  color: var(--indigo);
}
