.side-box {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: auto;
    z-index: 1001;
    background: #fffffff0;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    overflow: auto;
}

.side-box-overlay {
    position: fixed;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.1);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    animation: .6s ease 1;
}

.side-box-fade-enter-active,
.side-box-fade-leave-active {
    transition: left 0.3s ease, right 0.3s ease, bottom 0.3s ease, top 0.3s ease;
}

.side-box-fade-enter,
.side-box-fade-leave-to {
    right: -100%;
}
